{% extends 'base.html' %}

{% block content %}
  
  <form class="which1" action="" method="post" novalidate>
    <div class="col mx-auto w-30">
    {{ form.hidden_tag() }}
    <p>{{ form.pokemon(class='form-control', placeholder='Which pokemon?') }}</p>
        <p>{{ form.submit(class='btn btn-warning') }}</p>
            <p>{{ invalid }}</p></div>
  </form>

{% if pokemon %}

  <div class="card mx-auto" style="width: 18rem;">
    <img src="{{pokemon['sprite']}}" class="card-img-top" alt="pokemon">
    <div class="card-body">
      <h5 class="card-title, text-center">{{pokemon['poke_name'].upper()}}</h5>
      <p class="card-text, text-center">Pokemon Ability: {{pokemon['poke_ability'].title()}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">HP: {{pokemon['base_hp']}} </li>
      <li class="list-group-item">ATT: {{pokemon['base_att']}}</li>
      <li class="list-group-item">DEF: {{pokemon['base_def']}}</li>
      {% if current_user.is_authenticated %}
      <form method="POST" action="{{ url_for('catchPokemon', id=pokemon.id) }}">
        <input type="hidden" name="name-catch" value="{{pokemon.poke_name.title()}}" />
        <input id="catch-btn" type="submit" value="catch" name="catch-btn"/>
      </form>
    </ul>
      {% endif %} 
  </div>
{% endif %}
{% if not pokemon %}


{% endif %}

{% endblock %}