{% extends 'base.html' %}



{% block content %}

<h1 class="team-header">Take A Look At Your Team!</h1>

{% for pokemon in pokemon %}
<div class="card mx-auto" style="width: 18rem;">
    <img src="{{pokemon['sprite']}}" class="card-img-top" alt="pokemon">
    <div class="card-body">
      <h5 class="card-title, text-center">{{pokemon['poke_name'].upper()}}</h5>
      <p class="card-text, text-center">Pokemon Ability: {{pokemon['poke_ability'].title()}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">HP: {{pokemon['base_hp']}} </li>
      <li class="list-group-item">ATT: {{pokemon['base_att']}}</li>
      <li class="list-group-item">DEF: {{pokemon['base_def']}}</li>
    </ul>
</div>
{% endfor %}


{% endblock %}